import init.dory.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug

on init
    # Set permissions for persist partition
    mkdir /persist 0771 system system

   # Support legacy paths
   symlink /sdcard /mnt/sdcard
   symlink /sdcard /storage/sdcard0

on fs
    mount_all /fstab.dory

on post-fs
    restorecon_recursive /persist
    restorecon /persist/bdaddr.txt

on post-fs-data
    # Load ADSP firmware
    write /sys/kernel/boot_adsp/boot 1

    # Update touch firmware if required
    write /sys/bus/i2c/devices/5-0020/check_fw 1

    mkdir /data/media 0770 media_rw media_rw
    mkdir /data/misc/batteryd 0700 system system

    # CPU frequency, suspend and governor
    write /sys/module/lpm_levels/enable_low_power/l2 4
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/standalone_power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 50000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 90
    write /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor 4
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000

    setprop vold.post_fs_data_done 1

on boot
    write /sys/class/power_supply/battery/charging_enabled 0
    write /sys/module/msm_thermal/core_control/enabled 0
    # NOTE: The number of cores online should be kept in sync with
    # dalvik.vm.image-dex2oat-threads and dalvik.vm.boot-dex2oat-threads in device.mk
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 787200
    write /sys/module/msm_thermal/core_control/enabled 1

    chown system system /sys/kernel/debug/kgsl/proc
    chown system system /sys/bus/i2c/devices/5-0020/idle_mode

    setprop ro.radio.noril yes

    # Touch y inversion
    write /sys/class/input/input0/flipy 1

    chmod 0600 /dev/ttyHS99
    chown bluetooth bluetooth /dev/ttyHS99

    chmod 0600 /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

    chmod 0600 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state

    # fuel gauge learned parameters
    chown system system /sys/class/power_supply/bms/device/learned

    # adsp subsystem restart
    write /sys/bus/msm_subsys/devices/subsys0/restart_level "related"

    # Disable network time update
    setprop config.disable_networktime true

    # Set the fix freq to 200MHz for KGSL
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 200000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 200000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance

on property:sys.boot_completed=1
    write /sys/class/power_supply/battery/charging_enabled 1

on property:sys.cw_home_ready=1
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu1/online 0
    # Use userspace governor to set min=max=787MHz
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed 787200
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/module/msm_thermal/core_control/enabled 1

# battery daemon to save/restore learned parameters
service batteryd /system/bin/batteryd
    class late_start
    user system
    group system

# bugreport is triggered by ActivityManagerService::requestBugReport(BUGREPORT_OPTION_FULL)
service bugreport /system/bin/dumpstate -d -p -B -z \
        -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot

service clockwork_proxy /system/bin/ClockworkProxy
    class main
